.windowOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: var(--ext-mobile-window-bck-clr, lavender);
    z-index: 9999;
    box-shadow: var(--ext-mobile-window-box-shadow, 0 -2px 10px rgba(0, 0, 0, 0.2));
    transition: top 0.2s ease, opacity 0.3s ease;
    opacity: 1;
    display: grid;
    grid-template-rows: 20px 50px 1fr;
    justify-content: center;
    grid-template-columns: 1fr;
}

.windowHandleWrapper {
    background-color: lavenderblush;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}

.windowHandle {
    width: 40px;
    height: 10px;
    background-color: #ccc;
    border-radius: 3px;
    cursor: grab;
    touch-action: none;
}

.windowHeader {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}

.windowBody {
    height: 100vh;
    overflow-y: hidden;
    width: 100%;
}

.windowBodyInner{
    padding: 20px;
    height: 100vh;
    overflow-y: auto;
    width: 100%;
    padding-bottom: 100px;
    max-height: 100vh;
}